# Question 1

## Question 2

In [1]:
#Question 2
def fileLength(fileName):
    try:
        content = open(fileName).read()
        length = len(content)
        print("length is {name} is {length}".format(name = fileName, length = length))
    except FileNotFoundError:
        print("File {} not found.".format(fileName))
        
fileLength("idterm.py")

File idterm.py not found.

# #Question 3

In [ ]:

class Marsupial:
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self,data):
        self.pouch.append(data)
    def pouch_contents(self):
        print(self.pouch)

m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

In [3]:
class Kangaroo(Marsupial):
    
    def __init__(self, x, y):
        super().__init__()
        self.cX = x
        self.cY = y 
        
    def jump(self, x, y):
        self.cX += x
        self.cY += y
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.cX},{self.cY})"
        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [4]:
def collatz(n):
    if n == 1:
        print(n)
    elif n % 2 == 0:
        print(n)
        collatz(n//2)
    else:
        print(n)
        collatz((n * 3) + 1)
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [ ]:
def binary():
    try:
        inputValue = int(input('binary : '))
        if inputValue >= 0:
            print(f'{inputValue:0b}')
            binary()
        else:
            print("Negative number!! please enter non-negative number")
            binary()
    except:
        print("Error!")
binary()

binary : 0
0
binary : 1
1
binary : 3
11
binary : 9
1001

## Question 6

In [15]:

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    h1Found = False
    h2Found = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.h1Found = True
        elif tag == "h2":
            self.h2Found = True
    def handle_data(self, data):
        if self.h1Found:
            print(data)
        if self.h2Found:
            print('\t'*1 + data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.h1Found = False
        elif tag == "h2":
            self.h2Found = False

hp = HeadingParser()
file = open('w3c.html')
html = file.read()
file.close()
hp.feed(html)

W3C Mission
	Principles

## Question 7

In [7]:
def webdir(url, depth, indent): 
    if depth == 0:
        print(indent*" "+url)
        return 
    else:
        print(indent*" "+url) 
        webdir(url, depth-1, indent+1)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

## Question 8

In [17]:

import sqlite3
con=sqlite3.connect('GlobalData.db')
cur=con.cursor()
cur.execute('create table World(City text,Country text,Season text,Temprature FLOAT,Rainfall FLOAT );');
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Winter",24.8,5.9);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Spring",28.4,16.2);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Summer",27.9,1549.4);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Mumbai","India","Fall",27.6,346.0);')

cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Winter",4.2,207.7);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Spring",8.3,169.6);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Summer",15.7,157.0);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("London","United Kingdom","Fall",10.4,218.5);')

cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Winter",13.6,16.5);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Spring",20.7,6.5);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Summer",27.7,0.1);')
cur.execute('INSERT INTO World(City,Country,Season,Temprature,Rainfall) VALUES("Cairo","Egypt","Fall",22.2,4.5);')

In [18]:
#8.a
for row in cur.execute('SELECT Temprature FROM World;'):
    print(row)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [19]:
#8.b
for row in cur.execute('SELECT DISTINCT City FROM World;'):
    print(row)

('Mumbai',)
('London',)
('Cairo',)

In [20]:
#8.c
for row in cur.execute('SELECT * FROM World WHERE Country = "India";'):
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [21]:
#8.d
for row in cur.execute('SELECT * FROM World WHERE Season = "Fall";'):
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [22]:
#8.e
for row in cur.execute('SELECT City,Country,Season FROM World WHERE Rainfall BETWEEN 200 AND 400;'):
    print(row)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [23]:
#8.f
for row in cur.execute('SELECT City,Country FROM World WHERE Season = "Fall" AND Temprature > 20 ORDER BY Temprature;'):
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [24]:
#8.g
for row in cur.execute('SELECT SUM(Rainfall) FROM World WHERE City = "Cairo";'):
    print(row)

(27.6,)

In [25]:
#8.h
for row in cur.execute('SELECT Season, SUM(Rainfall) FROM World GROUP BY Season;'):
    print(row)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

In [26]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
#9.a
list1 = [w.upper() for w in words]
print(list1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [28]:
#9.b
list2 = [w.lower() for w in words]
print(list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [29]:
#9.c
list3 = [len(w) for w in words]
print(list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [30]:
#9.d
list4 = [[w.upper(),w.lower(),len(w) ] for w in words]
print(list4)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [31]:
#9.e
list5 = [w for w in words if len(w) >= 4]
print(list5)

['quick', 'brown', 'jumps', 'over', 'lazy']